<h1>Welcome to show part</h1>
<h2> Show implemented to test my logic can be deleted or modified
</h2>
<ul>
  <li><%= @part.title %></li>
  <li><%= @part.description %></li>
  <li><%= @part.part_model_code %></li>
  <!-- <li><%#= @part.price_cents %></li> -->
</ul>
