<h1>User#confirmation</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/confirmation.html.erb
</p>

<p> Hi <%= @user.firstname %> <%= @user.lastname %></p>

<p>Thank you for your purchase!</p>

<p>The part you ordered will be shipped within the next 48 hours</p>

<p>Thank you for your business!</p>

<p>See ya!</p>
