     <!--
                <div class="form-group">
                  TODO: Why can't i store the id of the user into the garage_id?
                   <%= #f.association :user, collection: User.where('insurance' => false), label_method: ->(user) { "#{user.company_name}"},  value_method: :id, label: false, placeholder: "select your garage" %>
                </div>
                  -->
