<div class="container">
  <div>
    <%= @claim.number %>
  </div>

  <div>
    <%= @claim.user_id %>
  </div>

  <div>
    <%= @claim.description %>
  </div>

  <div>
    <%= @claim.at_date %>
  </div>
</div>
