<h1>Table</h1>

<table id="table_id" class="display" data-statistics="<%= @statistics.to_json %>">
  <thead>
    <tr>
      <th>Part</th>
      <th>Price</th>
      <th>Claim Number</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
