<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Parts overview</h6>
  </div>
  <div class="card-body">
   <div class="table-responsive">
    <table id="table_id" class="display" data-table="<%= @table.to_json %>" class="table table-bordered" width="100%" >
       <thead>
         <tr>
           <th>Claim number</th>
           <th>Company</th>
           <th>Part name</th>
           <th>Price</th>
         </tr>
       </thead>
      <tbody>
      <!-- Here comes the date -->
      </tbody>
     </table>
   </div>
  </div>
</div>
