<h1>Temporary basket</h1>

<p>Modify view to see desired info :)</p>
<!-- <h2>Pending parts</h2> -->
<div class="div">
  <% current_user.orders.each do |order| %>
    <% if order.status == 'pending' %>
      <div class="d-flex">
        <p>
          <%= order.part.title %>
          <span>
            <%#= button_to "Pay", order_path(@order), method: :patch %>

              <%= link_to 'Pay',order_path(order), method: 'patch', class: 'btn btn-primary' %>
            <%# end %>
          </span>
        </p>
      </div>

    <% end %>
  <% end %>
</div>
