<h1>Basket</h1>

<div class="div">
  <% current_user.orders.each do |order| %>
    <% if order.status == 'pending' %>
      <div class="d-flex">
        <p>
          <%= order.part.title %>
          <span>
            <%= link_to 'Buy',order_path(order), method: 'patch', class: 'btn btn-primary' %>
          </span>
        </p>
      </div>

    <% end %>
  <% end %>
  <%= link_to 'Buy more parts?', parts_path, class: "btn btn-primary" %>
</div>
