<div class="container">
  <div class="card shadow">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary" id="parts-index-card-header">Basket</h6>
    </div>


    <div class="card-body ">
      <% current_user.orders.each do |order| %>
        <% if order.status == 'pending' %>
          <div class="d-flex justify-content-between mt-1">
            <p>
              <%= order.part.title %>
            </p>
            <div>
              <span>
                <%= link_to 'Buy', order_path(order),data: { confirm: 'Are you sure?' } , method: 'patch', class: 'btn btn-primary' %>
              </span>
               <span>
                <%= link_to (raw('<i class="fas fa-trash"></i>')) ,order_path(order), method: 'delete', class: 'btn btn-danger' %>
              </span>
            </div>
          </div>

        <% end %>
      <% end %>
      <%= link_to 'Buy more parts?', parts_path, class: "btn btn-primary" %>
    </div>

  </div>
</div>

