<h1>Invoice #<%= @order.id %></h1>


<p> Hi <%= @order.user.first_name%> <%= @order.user.last_name %></p>

<p>Thank you for your purchase!</p>

<p>The part you ordered will be shipped within the next 48 hours</p>

<p>Thank you for your business!</p>

<p>See ya!</p>

