#garage-show-form {
  display: flex;
  direction: column;
}

#update-claim-btn-garages {
  margin-left: 20px;
}

.claim-show-garage-header-form {
  display: flex;
}

#fucking-btn {
      margin-bottom: -1rem;
}
