.garage-claims-index-filter {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.05);
  border-radius: 4px;
  margin: 15px 0;
  padding: 5px;
}


#garage-claims-index-btns {
  padding: 15px;
  width: 16vw;
}
