#claims-index {
  // width: 70vw;
  margin: 20px auto;
}

#index-claim-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#index-claim-card-btn {
  padding: 10px 30px;
}
