#claims-show-part {
  margin: 0 auto;
}

#show-edit-btn {
  padding: 10px 30px;
}

#show-delete-btn {
  padding: 10px 30px;
}

#show-return-btn {
  padding: 10px 30px;
}

.flex-container-show {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 15px;
}

#insurance-show-form {
  display: flex;
  direction: column;
}

#claim-insurer-show-header {
  display: flex;
  direction: column;

}

#update-claim-btn-insurance {
  margin-left: 10px;
}
