#claims-show-part {
  width: 60vw;
  margin: 0 auto;
  padding-top: 3vh;
}

.edit-delete-bts {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.flex-container-show {
  display: flex;
  justify-content: center;
}
