<div class="container-index-parts">
  <div class="row">
      <% @cars.each do |car| %>
          <div class="col-xl-3 col-lg-6 mb-4">
            <div class="card shadow border" style="width: 100%">
              <%#= cl_image_tag car.photo, crop: :fill, height: 180, class: "card-img-top img-fluid w-100", style: "height: 180px; object-fit: cover;" %>
              <div class="card-body">

              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Make: <%= car.make %></li>
                <li class="list-group-item">Model: <%= car.model %></li>
                <li class="list-group-item">Vin: <%= car.vin %></li>

              </ul>
               <div class="card-body text-center">
                <%= link_to (raw('<span class="icon text-white-50"><i class="fas fa-info-circle"></i></span><span class="text">Update</span>')), edit_car_path(car), class: "btn btn-info btn-icon-split" %>
               </div>
            </div>
          </div>
      <% end %>
  </div>
</div>
